 <table class="table table-bordered">
      <thead>
      <tr>
        <td>アイコン</td>
        <td>id</td>
        <td>tweet内容</td>
        <td>リツイート数</td>
      </tr>
      </thead>
      <tbody>
      <%= debug(@restaurant) %>
      <% @post.each do |tweet| %>
          <tr>
            <td><%= tweet.text %></td>
          </tr>
      <% end %>

      </tbody>
    </table>